:root {


  --main-color-01: #02466a;
  --main-color-02: #1dbbbe;
  --main-color-03: #045172;
  --font-color-01: #ffff;
  --font-color-02: #011723;
  --gray-color-01: #D3D3D3;
  --gray-color-02: #A7A7A7;
  --gray-color-04: #505050;
  --gray-color-05: #ebebeb;
  --gray-color-03: #FAFAFA;
  --green-color-01: #3ae374;
  --Secondary-color-01: #03787a;
  --Primary-color-02: #eff9ff;
  --Primary-color-01: #c0e9ff;
  --Primary-color-03: #237eae;
  --body-back: #ffff;
  --transition: linear .3s;
  --heading-size-01: 54px;
  --heading-size-02: 48px;
  --heading-size-03: 38px;
  --heading-size-04: 28px;
  --heading-size-05: 24px;
  --heading-size-06: 18px;
  --font-size-20: 20px;
  --border-radius: 6px;
}

* {
  font-family: 'Almarai', sans-serif;
  box-sizing: border-box !important;
}

body {
  background-color: var(--body-back) !important;

}

img {
  max-width: 100% !important;
}

ul {

  list-style: none;
}

a {
  text-decoration: none !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--gray-color-02);


}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color-02);
  border-radius: 30px;

}